<ion-header>

</ion-header>

<ion-content>

  <div>
    <img src="../../assets/Images/back.png">
  </div>

  <form [formGroup]="ionicForm" (ngSubmit)="inscription()" novalidate>

      <ion-item>
        <ion-input class="input"  type="text" formControlName="nom" placeholder="Nom" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nom.errors?.required">
        <small>LE nom obligatoire.</small>
      </span>
      <ion-item>
        <ion-input class="input"  type="text" formControlName="prenom" placeholder="Prénom" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.prenom.errors?.required">
        <small>LE Prénom obligatoire.</small>
      </span>
      <ion-item>
        <ion-input class="input"  type="number"  formControlName="telephone" placeholder="Téléphone" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.telephone.errors?.required">
        <small>Numéro de téléphone incorrect.</small>
      </span>
      <ion-item>
        <ion-input  type="email" formControlName="email" placeholder=" Email" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        <small>Email obligatoire.</small>
      </span>
      <ion-item>
        <ion-input type="text" formControlName="login" placeholder="Nom d'utilisateur" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.login.errors?.required">
        <small>Login obligatoire.</small>
      </span>
      <ion-item>
        <ion-input  type="password" formControlName="password" placeholder="Mot de passe (8 carracter min)" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required"  >
        <small>Mot de passe obligatoire.</small>
      </span>
      <ion-item>
        <ion-input  type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required">
        <small>Confirmation de Mot de passe obligatoire.</small>
      </span>
      <br>

      <ion-button expand="block" class="ion-text-center"  type="submit" shape="round" style="text-transform: initial;">S'inscrire</ion-button>

  </form>

</ion-content>
