
ion-content {
    background-color: #fff;
}



.forgotDiv{
    margin: 6%;
    margin-right: 0%;
    text-align: center;
}
.forgot{
    color: black; 
    font-size: 12px;
    text-decoration: none;
}
.button{
    width: 90%;
    height: 25px;
    margin: auto;
    margin-top: 4%;
    margin-left: 5%;
    font-size: 90%;
    justify-content: center;
}
.buttonL{
    width: 60%;
    height: 25px;
    margin: auto;
    margin-top: 4%;
    margin-left: 20%;
    font-size: 90%;
    justify-content: center;
}

.contentButton{
    margin-top: 4px;
}