<ion-header>

</ion-header>
<ion-content  >
  

    <img src="../../assets/Images/backIns.png">

<form action="" class="form" >
   <ion-item>
    <ion-input placeholder="Identifiant" name="identifiant" type="email" [(ngModel)]="identifiant"></ion-input>
  </ion-item>
    <ion-item>
    <ion-input placeholder="Mot de passe" name="password" type="password" [(ngModel)]="password"></ion-input>
   </ion-item>
    <div class="button">
        <ion-button   (click)="login()" shape="round">Se connecter</ion-button>
    </div>
  <div class="forgotDiv" >
     <a class="forgot" href="password" type="" >Mot de passe oublier</a>
    </div>
  
  <div class="buttonL">
    <ion-button type="text" routerLink="/inscription" shape="round">Creer compte</ion-button>
  </div>
</form>
</ion-content>