



<!-- home.page.html -->
<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Livre {{format}} </ion-title>
  <ion-buttons slot="end" style="margin-right:5%;" routerLink="/profile">
    <ion-icon slot="icon-only" name="person-circle" ></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true" scrollbar-y-none style="background-color: white;">

  <ion-searchbar></ion-searchbar>

<!-- <ion-list-header style="position: fixed;">
  <ion-label>{{format}}</ion-label>
</ion-list-header> -->

<ion-item  *ngFor="let livre of listLivre"  style="padding: 2%" (click)="detailLivre(livre.idLivre)" > 
  <img src="{{photo}}{{livre.idLivre}}" style="width: 30%;padding: 2%;">
  <ion-label style="margin-left: 3%;">
     {{livre.titre}}<br/>
     <span style="font-size: small;">Durée : {{livre.format}} </span> 
      <br>
      <span *ngIf="livre?.note >=1" >
        <ion-icon name="star" class="rateIcon" ></ion-icon>
      </span>
      <span *ngIf="livre?.note >=2">
        <ion-icon name="star" class="rateIcon"  ></ion-icon>
      </span>
      <span *ngIf="livre?.note >=3">
        <ion-icon name="star" class="rateIcon" ></ion-icon>
      </span>
      <span *ngIf="livre?.note >=4">
        <ion-icon name="star" class="rateIcon" ></ion-icon>
      </span>
      <span *ngIf="livre?.note >=5">
        <ion-icon name="star" class="rateIcon" ></ion-icon>
      </span><br>
      <span *ngIf="livre?.prix ==0" style="font-size: small;"><ion-badge color="success">Gratuit</ion-badge></span>
      <span *ngIf="livre?.prix >0" style="font-size: small;">Prix : {{livre.prix | currency:" ":true:"1.2"}} fcfa</span>

    </ion-label>
</ion-item>


</ion-content>
