



<!-- home.page.html -->
<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Livre {{format}} </ion-title>
  <ion-buttons slot="end" style="margin-right:5%;" routerLink="/profile">
    <ion-icon slot="icon-only" name="person-circle" ></ion-icon>
  </ion-buttons>
</ion-toolbar>
<div style="background-color:white; padding-bottom: 5%;">
    <ion-row >
      <ion-col size="12">
        <ion-slides pager="false" >
          <ion-slide *ngFor="let s of slideImg">
            <img src="../../assets/Images/{{s}}" style="height: 200px;">
            <span class="slide-text">{{s.id}}</span>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!-- <form>
      <div style="margin: 0% 5%;">Rechercher : <input style="border:solid 1px; width: 50%; height: 20px; border-radius: 50px; margin-left: 5%;"></div>
    </form> -->
    <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

  </div>
  <ion-content [fullscreen]="true" scrollbar-y-none style="background-color: white;">


<!-- <ion-list-header style="position: fixed;">
  <ion-label>{{format}}</ion-label>
</ion-list-header> -->
<ion-grid>
  <ion-row>


      <ion-col size="4"  *ngFor="let livre of listLivre | filter:filterTerm">

        <ion-card text-center  (click)="detailLivre(livre.idLivre)"  routerLink="/livre/Ebook" style="background-color: white;border: solid 1px;margin: -1px; width: 100%;">
          <!--<ion-icon class="ion-img" name="people"></ion-icon> -->
          <img src="{{photo}}{{livre.idLivre}} " style="width: 80%; margin: auto; display: block; height: 90px;">
          <h6  style="text-align: center; margin-top: 10px; color: #000; font-weight: 400; font-size: 10px; "><ion-badge *ngIf="livre.prix >0" style="width: 90%;" color="primary" mode="ios">{{livre.prix | currency:" ":true:"1.0"}} fcfa</ion-badge></h6>
          <h6 *ngIf="livre.prix ===0" style="text-align: center; margin-top: 10px; color: #000; font-weight: 400; font-size: 10px; "><ion-badge color="primary" mode="ios">Gratuit</ion-badge></h6>
        </ion-card>
      </ion-col>

</ion-row>
</ion-grid>
</ion-content>
