<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <div class="outer"
      [ngStyle]="{'background-image': 'url(' + photo + ')'}" >
        <div class="inner" (click)="openOptionSelection()" >
           <ion-icon name="camera" class="camera-icon"></ion-icon>
        </div>
     </div>
  </div>


<span> <ion-icon name="create-outline" style="zoom:1.5; float:right;" (click)="edit()"></ion-icon></span>
<div class="userInfo" style="background-color: rgb(64, 138, 235); color: white;">
     <p > <ion-label><b > Nom :</b></ion-label> {{userData.nom}}</p>
     <p > <ion-label><b > Email :</b></ion-label> {{userData.email}}</p>
     <p > <ion-label><b > Téléphone :</b></ion-label> {{userData.telephone}}</p>
    </div>





</ion-content>
