.avatar{
    margin: auto ;
    
}

.avatarDiv{
    background-image: url('../../assets/Images/cover3.jpg');
    height: 30%;
    margin: 0px  auto;
    justify-items: center;
    text-align: center;
    padding-top: 10%;
}
.editProfileIcon{
    justify-items: end;
}