
<ion-toolbar color="primary">
<ion-back-button></ion-back-button>
  <ion-buttons slot="primary">
    <ion-button routerLink="/profile">
      <ion-icon slot="icon-only" name="person-circle" ></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title> V-Biblio</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">

<div class="avatarDiv">
  <ion-avatar class="avatar">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  {{userData.nom}}
  
</div>
  <ion-card>
    <div></div>
    <ion-card-header class="editProfileIcon"  >
      <ion-card-title >
        <ion-icon name="create" (click)="edit()"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        <ion-label><b>Email :</b></ion-label>
       <div> {{userData.email}}</div>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-label><b>Téléphone : </b></ion-label>
        <div> {{userData.telephone}}</div>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-label><b>Login :</b></ion-label>
        <div> {{userData.login}}</div>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>



</ion-content>
