<ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-title> Documents</ion-title>
  <ion-buttons slot="end">
    <ion-button >
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

<ion-item detail> 
  <ion-img slot="start" src="../../assets/Images/pdf.png" style="width: 15%;"></ion-img>
  <ion-label>PDF</ion-label>
</ion-item>
<ion-item detail> 
  <ion-img slot="start" src="../../assets/Images/article.png" style="width: 15%;"></ion-img>
  <ion-label>Mémoire</ion-label>
</ion-item>
<ion-item detail> 
  <ion-img slot="start" src="../../assets/Images/article.png" style="width: 15%;"></ion-img>
  <ion-label>Articles</ion-label>
</ion-item> 
<ion-item detail> 
  <ion-img slot="start" src="../../assets/Images/article.png" style="width: 15%;"></ion-img>
  <ion-label>Cours</ion-label>
</ion-item>   
</ion-content>
