<ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-title> Documents</ion-title>
  <ion-buttons slot="end">
    <ion-button >
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
<ion-segment>
  <ion-segment-button value="article">
    <ion-label>Articles</ion-label>
  </ion-segment-button>
  <ion-segment-button value="memoire">
    <ion-label>Mémoires</ion-label>
  </ion-segment-button>
</ion-segment>




<ion-item detail *ngFor="let article of articles">
  <ion-img slot="start" src="../../assets/Images/pdf.png" style="width: 15%;"></ion-img>
  <ion-label>{{article.titre}}</ion-label>
</ion-item>
<ion-item detail *ngFor="let memoire of memoires">
  <ion-img slot="start" src="../../assets/Images/article.png" style="width: 15%;"></ion-img>
  <ion-label>{{memoire.titre}}</ion-label>
</ion-item>

</ion-content>
